:root {
  --color-dark-gray: #10100e;
  --color-white: #fff;
  --color-black: #000;

  --border-radius-small: 5px;

  --font-family-main: sans-serif;

  --spacing-medium: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: sans-serif;
}